<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minadura Configuracion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <h3>En cuentre todo el cobre para ganar el juego</h3>
    <form class="row row-cols-lg-auto g-3 align-items-center">

        <div class="col-12">

                <label class="form-check-label">
                    Coordenada a explota de la mina:
                </label>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Explotar</button>
        </div>
    </form>
</body>
</html>